.page {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100%;
}

.page-header {
  text-align: center;
}

.content {
  /* background-image: url('../images/banner.png');
  background-repeat: no-repeat;  
  background-size: contain;
  background-position-x: center; */

  @media (width <= 1024px) {
    /* background-size: cover; */
  }
}

.banner {
  @media (width <= 1024px) {
    font-size: 16px;
  }

  .star__benefits,
  .star__lottery,
  .star__description,
  .star__collection,
  .small-stars * {
    transform-box: border-box;
    transform-origin: center;
    transition: 0.5s;
  }
  .star__description,
  .star__lottery {
    --rotation-value: 20deg;
    animation: rotate-move 4s ease-in-out infinite;
  }
  .star__benefits,
  .star__collection {
    --rotation-value: -20deg;
    animation: rotate-move 4s ease-in-out infinite;
  }
  .small-stars *:nth-child(1), .small-stars *:nth-child(2) {
    --rotation-value: 120deg;
    animation: rotate-move 4.0s ease-in-out infinite;
  }
  .small-stars *:nth-child(3), .small-stars *:nth-child(4) {
    --rotation-value: 360deg;
    animation: rotate-move 12.0s ease-in-out infinite;
  }
}

@keyframes rotate-move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(var(--rotation-value));
  }
  100% {
    transform: rotate(0deg);
  }
}